# Importing libraries:

In [23]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

# Reading the Dataset Collected from the accelerometer app:

In [24]:
road_pt = pd.read_csv("mergeAccData.csv")
df = pd.DataFrame(road_pt)
df

,Latitude,Longitude,timestamp,xaxis,yaxis,zaxis,Landmark
0,12.972873,79.157654,1.000000e+13,0.0,0.0,2.081157,Albert Einstein Block
1,12.972873,79.157654,1.000000e+13,0.0,0.0,2.194218,Albert Einstein Block
2,12.972873,79.157654,1.000000e+13,0.0,0.0,2.069193,Albert Einstein Block
3,12.972873,79.157654,1.000000e+13,0.0,0.0,2.194218,Albert Einstein Block
4,12.972873,79.157654,1.000000e+13,0.0,0.0,2.284547,Albert Einstein Block
...,...,...,...,...,...,...,...
5056,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1217
5057,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1218
5058,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1219
5059,12.972924,79.163299,1.100000e+13,0.0,0.0,2.556133,X5F7+1220
5060,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1221

# Finding the 99th, 90th,30th percentiles of the DataFrame, df

In [25]:
np.percentile(df.zaxis, [99, 90, 30])

array([5.51844692, 3.57487726, 2.08295155])

# Labelling each dataPoints in df under "Label_For_The_Road_Section"

In [26]:
label = []
for i in df.zaxis:
    if i>5.51844692:
        label.append("MAJOR UNDULATION")
    elif i<5.51844692 and i>3.57487726:
        label.append("BAD")
    elif i>2.08295155 and i<3.57487726:  
        label.append("NORMAL")
    elif i<2.08295155:  
        label.append("GOOD")

In [27]:
df['Label_For_The_Road_Section'] = label
df

,Latitude,Longitude,timestamp,xaxis,yaxis,zaxis,Landmark,Label_For_The_Road_Section
0,12.972873,79.157654,1.000000e+13,0.0,0.0,2.081157,Albert Einstein Block,GOOD
1,12.972873,79.157654,1.000000e+13,0.0,0.0,2.194218,Albert Einstein Block,NORMAL
2,12.972873,79.157654,1.000000e+13,0.0,0.0,2.069193,Albert Einstein Block,GOOD
3,12.972873,79.157654,1.000000e+13,0.0,0.0,2.194218,Albert Einstein Block,NORMAL
4,12.972873,79.157654,1.000000e+13,0.0,0.0,2.284547,Albert Einstein Block,NORMAL
...,...,...,...,...,...,...,...,...
5056,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1217,GOOD
5057,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1218,GOOD
5058,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1219,GOOD
5059,12.972924,79.163299,1.100000e+13,0.0,0.0,2.556133,X5F7+1220,NORMAL
5060,12.972924,79.163299,1.100000e+13,0.0,0.0,2.053639,X5F7+1221,GOOD

# Finding the Bad Presence Frequency (Without Redundancy)

In [28]:
dfBad = df.loc[df["Label_For_The_Road_Section"] == "BAD"]

In [29]:
groupedBad = dfBad.groupby(['Latitude', 'Longitude']).size().reset_index(name='BAD_Presence(FREQUENCY)')
groupedBad

     Latitude  Longitude  BAD_Presence(FREQUENCY)
0   12.969623  79.158014                       10
1   12.971940  79.159615                      121
2   12.972232  79.160922                       17
3   12.972435  79.159225                       26
4   12.972463  79.161559                       39
5   12.972472  79.159124                       12
6   12.972563  79.161294                       29
7   12.972684  79.162909                       34
8   12.972711  79.159446                        5
9   12.972732  79.162874                       13
10  12.972806  79.164353                        2
11  12.972857  79.159719                       62
12  12.972857  79.164553                       17
13  12.972873  79.157654                        1
14  12.972906  79.163959                        4
15  12.972922  79.157448                       71
16  12.973416  79.164118                        5

# Finding the Major Unndulation Presence Frequency (Without Redundancy)

In [30]:
dfMajor=df.loc[df["Label_For_The_Road_Section"] == "MAJOR UNDULATION"]

In [31]:
groupedMaj = dfMajor.groupby(['Latitude', 'Longitude']).size().reset_index(name='MAJOR_UNDULATION_PRESENCE(FREQUENCY)')
groupedMaj

    Latitude  Longitude  MAJOR_UNDULATION_PRESENCE(FREQUENCY)
0  12.969623  79.158014                                     1
1  12.972232  79.160922                                     4
2  12.972435  79.159225                                    18
3  12.972563  79.161294                                     9
4  12.972906  79.163959                                     5
5  12.972922  79.157448                                    15

# Merging The Two dataset groupedMaj, groupedBad

In [33]:
dfB = pd.DataFrame(groupedBad)

In [34]:
dfM = pd.DataFrame(groupedMaj)

In [37]:
outer_merged_df = pd.merge(dfB, dfM, on='Latitude', how='outer')
dfMe = pd.DataFrame(outer_merged_df)

In [38]:
dfMe.drop(labels=['Longitude_y'], axis=1)

,Latitude,Longitude_x,BAD_Presence(FREQUENCY),MAJOR_UNDULATION_PRESENCE(FREQUENCY)
0,12.969623,79.158014,10,1.0
1,12.971940,79.159615,121,NaN
2,12.972232,79.160922,17,4.0
3,12.972435,79.159225,26,18.0
4,12.972463,79.161559,39,NaN
5,12.972472,79.159124,12,NaN
6,12.972563,79.161294,29,9.0
7,12.972684,79.162909,34,NaN
8,12.972711,79.159446,5,NaN
9,12.972732,79.162874,13,NaN
10,12.972806,79.164353,2,NaN
11,12.972857,79.159719,62,NaN
12,12.972857,79.164553,17,NaN
13,12.972873,79.157654,1,NaN
14,12.972906,79.163959,4,5.0
15,12.972922,79.157448,71,15.0
16,12.973416,79.164118,5,NaN

# Creating a Dataframe from df without Redundancy and Average of zaxis values for Redundant DataPoints

In [39]:
lat = df['Latitude'] 
long = df['Longitude']
z = df['zaxis']

In [40]:
l = []
m = []
n = []
c = [] 
l.append(lat[0])
m.append(long[0])
n.append(z[0])
c.append(1)
i=1
def fun():
     for i in range(len(lat)):
            if lat[i] in l:
                index = l.index(lat[i])
                if long[i] == m[index]:
                    n[index] = n[index] + z[i]
                    c[index] = c[index] +1
                else:
                    l.append(lat[i])
                    m.append(long[i])
                    n.append(z[i])
                    c.append(1)
            else:
                l.append(lat[i])
                m.append(long[i])
                n.append(z[i])
                c.append(1)

In [41]:
fun()

In [42]:
df2 = pd.DataFrame(list(zip(l,m,n,c)),
               columns =['Latitude', 'Longitude','zaxis','count'])

In [43]:
df2['zaxisAverage'] = df2['zaxis'] / df2['count']
df2

     Latitude  Longitude       zaxis  count  zaxisAverage
0   12.972873  79.157654  526.669135    239      2.203637
1   12.969623  79.158014  858.903080    342      2.511413
2   12.972463  79.161559  793.079582    276      2.873477
3   12.972257  79.157525   33.327225     16      2.082952
4   12.972472  79.159124  728.135921    280      2.600485
5   12.972435  79.159225  957.712271    340      2.816801
6   12.972732  79.162874  394.093715    154      2.559050
7   12.972684  79.162909  832.608451    339      2.456072
8   12.972618  79.162596  180.992549     66      2.742311
9   12.973416  79.164118  200.520930    254      0.789452
10  12.972711  79.159446  620.859140    261      2.378771
11  12.971940  79.159615  844.038884    300      2.813463
12  12.972232  79.160922  644.763444    273      2.361771
13  12.972488  79.161940  231.353031    110      2.103209
14  12.972922  79.157448  872.153933    278      3.137244
15  12.972984  79.157548  560.313966    269      2.082952
16  12.972857  79.159719  465.359770    134      3.472834
17  12.972563  79.161294  795.762519    281      2.831895
18  12.972906  79.163959  396.849004    169      2.348219
19  12.972857  79.164553  878.844297    328      2.679403
20  12.972806  79.164353   16.514664     15      1.100978
21  12.972924  79.163299  718.913252    338      2.126962

# Finding Standard Deviation and Average to Conclude and Label

In [44]:
import statistics
average = statistics.mean(df2.zaxisAverage)
std_dev = statistics.stdev(df2.zaxisAverage)

In [45]:
a = average + std_dev 
b = average - std_dev

In [46]:
labell = []
for i in df2.zaxisAverage:
    if i>a:
        labell.append("BAD")
    elif i<a and i>b:
        labell.append("NORMAL")
    elif i<b:  
        labell.append("GOOD")

In [47]:
df2['Label_For_The_Road_Section'] = labell
df2

,Latitude,Longitude,zaxis,count,zaxisAverage,Label_For_The_Road_Section
0,12.972873,79.157654,526.669135,239,2.203637,NORMAL
1,12.969623,79.158014,858.903080,342,2.511413,NORMAL
2,12.972463,79.161559,793.079582,276,2.873477,NORMAL
3,12.972257,79.157525,33.327225,16,2.082952,NORMAL
4,12.972472,79.159124,728.135921,280,2.600485,NORMAL
5,12.972435,79.159225,957.712271,340,2.816801,NORMAL
6,12.972732,79.162874,394.093715,154,2.559050,NORMAL
7,12.972684,79.162909,832.608451,339,2.456072,NORMAL
8,12.972618,79.162596,180.992549,66,2.742311,NORMAL
9,12.973416,79.164118,200.520930,254,0.789452,GOOD
10,12.972711,79.159446,620.859140,261,2.378771,NORMAL
11,12.971940,79.159615,844.038884,300,2.813463,NORMAL
12,12.972232,79.160922,644.763444,273,2.361771,NORMAL
13,12.972488,79.161940,231.353031,110,2.103209,NORMAL
14,12.972922,79.157448,872.153933,278,3.137244,BAD
15,12.972984,79.157548,560.313966,269,2.082952,NORMAL
16,12.972857,79.159719,465.359770,134,3.472834,BAD
17,12.972563,79.161294,795.762519,281,2.831895,NORMAL
18,12.972906,79.163959,396.849004,169,2.348219,NORMAL
19,12.972857,79.164553,878.844297,328,2.679403,NORMAL
20,12.972806,79.164353,16.514664,15,1.100978,GOOD
21,12.972924,79.163299,718.913252,338,2.126962,NORMAL

In [49]:
df2nd = pd.DataFrame(df2)

# Merging Labels with Bad frequendy and Major Undulation frequency

In [52]:
left_merged_df = pd.merge(df2nd, dfMe, on=['Latitude'], how='left')
df3rd = pd.DataFrame(left_merged_df)

In [56]:
df3rd.drop(labels=['Longitude_y','Longitude_x','zaxis','count'], axis=1)

,Latitude,Longitude,zaxisAverage,Label_For_The_Road_Section,BAD_Presence(FREQUENCY),MAJOR_UNDULATION_PRESENCE(FREQUENCY)
0,12.972873,79.157654,2.203637,NORMAL,1.0,NaN
1,12.969623,79.158014,2.511413,NORMAL,10.0,1.0
2,12.972463,79.161559,2.873477,NORMAL,39.0,NaN
3,12.972257,79.157525,2.082952,NORMAL,NaN,NaN
4,12.972472,79.159124,2.600485,NORMAL,12.0,NaN
5,12.972435,79.159225,2.816801,NORMAL,26.0,18.0
6,12.972732,79.162874,2.559050,NORMAL,13.0,NaN
7,12.972684,79.162909,2.456072,NORMAL,34.0,NaN
8,12.972618,79.162596,2.742311,NORMAL,NaN,NaN
9,12.973416,79.164118,0.789452,GOOD,5.0,NaN
10,12.972711,79.159446,2.378771,NORMAL,5.0,NaN
11,12.971940,79.159615,2.813463,NORMAL,121.0,NaN
12,12.972232,79.160922,2.361771,NORMAL,17.0,4.0
13,12.972488,79.161940,2.103209,NORMAL,NaN,NaN
14,12.972922,79.157448,3.137244,BAD,71.0,15.0
15,12.972984,79.157548,2.082952,NORMAL,NaN,NaN
16,12.972857,79.159719,3.472834,BAD,62.0,NaN
17,12.972563,79.161294,2.831895,NORMAL,29.0,9.0
18,12.972906,79.163959,2.348219,NORMAL,4.0,5.0
19,12.972857,79.164553,2.679403,NORMAL,17.0,NaN
20,12.972806,79.164353,1.100978,GOOD,2.0,NaN
21,12.972924,79.163299,2.126962,NORMAL,NaN,NaN

In [57]:
df3rd.to_csv("C:/Users/HP/Downloads/outputFinal.csv",index=False)

In [55]:
## csv downloaded